.body{
    scroll-behavior: smooth;
    
}
.page2-container{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
.page2-heading{
    color: white;

}
Toastify{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}